@charset "UTF-8";

/*  Generic Selectors and Styles  */

* {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: none;
}
*:root:root:root:root:root:root:root:root:root:root *[hidden] {
    display: none;
}
*[title]:not([title=""]):not(a) {
    cursor: help;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
*.vertical {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-align: start;
}
*.horizontal {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    text-align: justify;
}
*.vertical.horizontal {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-align: start;
}
*.pad-start {
    -webkit-margin-start: auto;
    margin-inline-start: auto;
}
*.pad-end {
    -webkit-margin-end: auto;
    margin-inline-end: auto;
}
*.align-start {
    text-align: start;
}
*.align-end {
    text-align: end;
}
*.align-start.align-end {
    text-align: justify;
}
*.block, *.block.inline {
    display: block;
    -webkit-logical-height: 100%;
    block-size: 100%;
    -webkit-max-logical-width: 18rem;
    max-inline-size: 18rem;
    text-overflow: ellipsis;
    overflow: auto;
}
*.block.vertical, *.block.vertical.horizontal {
    margin: 1rem 0;
    width: 100%;
    height: auto;
    max-height: 18rem;
    overflow-y: hidden;
}
*.block.horizontal {
    margin: 0 1rem;
    height: 100%;
    width: auto;
    max-width: 18rem;
    overflow-x: hidden;
}
*.text, *.vertical.text, *.horizontal.text, *.vertical.horizontal.text, *.text.inline {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    -webkit-min-logical-width: 1em;
    min-inline-size: 1em;
    text-align: center;
}
*.inline {
    display: inline;
}

/*  Footnotes  */

html:not([data-news-features~="footnotes"]) *.footnote {
    cursor: help;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
html:not([data-news-features~="footnotes"]) *.footnote *.note {
    cursor: auto;
    display: block;
    position: absolute;
    offset-inline-start: 0;
    offset-inline-end: 0;
    -webkit-padding-before: .7rem;
    -webkit-padding-after: .7rem;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    padding-block-start: .7rem;
    padding-block-end: .7rem;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: calc(1rem / 1.4);
    font-weight: 200;
    font-style: normal;
    font-variant: normal;
    line-height: 1rem;
    text-align: start;
    text-indent: 0;
    color: #3b3b3b;
    background: #f5f5f5;
    box-shadow: 0 0 .7rem .7rem #f5f5f5;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}
html:not([data-news-features~="footnotes"]) *.footnote:hover *.note {
    opacity: 1;
    visibility: visible;
}
html[data-news-features~="footnotes"] *.footnote::after {
    display: inline-block;
    font-size: calc(1rem / 1.4);
    line-height: 1rem;
    vertical-align: super;
    content: attr(data-news-counter-footnote);
}
@supports (font-variant-position: super) {
    html[data-news-features~="footnotes"] *.footnote::after {
        display: inline;
        font-size: inherit;
        font-variant-position: super;
        vertical-align: baseline;
    }
}
html[data-news-features~="footnotes"] *.footnote *.note {
    display: none;
}
html[data-news-features~="footnotes"] > body > footer#news-footnotes {
    display: block;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-top: thin #828282 solid;
    padding: 1.4rem 2rem;
    max-height: 5rem;
    font-size: calc(1rem / 1.4);
    line-height: 1rem;
    font-weight: 200;
    opacity: 1;
    visibility: visible;
    overflow: auto;
    transition: opacity .5s, visibility .5s, height .5s;
}
html[data-news-features~="footnotes"] > body > footer#news-footnotes:empty {
    opacity: 0;
    visibility: hidden;
}
html[data-news-features~="footnotes"] > body > footer#news-footnotes > * {
    display: block;
    margin: 0;
    padding: 0;
}
html[data-news-features~="footnotes"] > body > footer#news-footnotes > *::before {
    content: attr(data-news-counter-footnote) ". ";
    font-weight: 300;
}

/*  Page Layout  */

html {
    margin: 0;
    padding: 0;
    font-size: 15pt;
    font-family: serif;
    font-weight: 300;
    font-synthesis: none;
    line-height: 1.4rem;
    color: #3b3b3b;
    background: #f5f5f5;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -ms-text-combine-horizontal: digits 3;
    text-combine-upright: digits 3;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    counter-reset: footnote;
}
body {
    position: relative;
    margin: auto;
    padding: 1.4rem 2rem;
    -webkit-max-logical-width: 35rem;
    max-inline-size: 35rem;
}
html.horizontal:not(.vertical) body:not(.vertical), body.horizontal:not(.vertical) {
    -webkit-max-logical-width: 28rem;
    max-inline-size: 28rem;
}
body > header {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    position: absolute;
    top: 1.4rem;
    right: 2rem;
    padding: 0;
    height: 3rem;
    width: 28rem;
    font-size: calc(3rem / 1.4);
    line-height: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: end;
}
body > header * {
    display: inline;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
html.horizontal body > header, body.horizontal > header {
    right: auto;
    left: 2rem;
    text-align: start;
}
html.horizontal:not(.vertical) body > header, body.horizontal:not(.vertical) body > header {
    max-width: calc(100% - 4rem);
}
body > header ~ aside {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    position: absolute;
    top: 4.4rem;
    right: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: none;
    border-top: thin currentColor solid;
    border-bottom: thin currentColor solid;
    height: 1rem;
    width: 28rem;
    font-size: calc(1rem / 1.4);
    line-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: end;
}
html.horizontal body > header ~ aside, body.horizontal > header ~ aside {
    right: auto;
    left: 2rem;
    text-align: start;
}
html.horizontal:not(.vertical) body > header ~ aside, body.horizontal:not(.vertical) body > header ~ aside {
    max-width: calc(100% - 4rem);
}
body > header ~ footer:not(#news-footnotes) {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    position: absolute;
    left: 2rem;
    bottom: 1.4rem;
    margin: 0;
    padding: 0;
    height: 1rem;
    color: #828282;
    font-size: calc(1rem / 1.4);
    line-height: 1rem;
    white-space: nowrap;
    overflow: auto;
    text-align: start;
}
html.horizontal body > header ~ footer:not(#news-footnotes), body.horizontal > header ~ footer:not(#news-footnotes) {
    left: auto;
    right: 2rem;
    text-align: end;
}
html.horizontal:not(.vertical) body > header ~ footer:not(#news-footnotes), body.horizontal:not(.vertical) body > header ~ footer:not(#news-footnotes) {
    max-width: calc(100% - 4rem);
}
body > header ~ main {
    display: block;
    margin-top: 5.8rem;
    margin-bottom: 2.4rem;
}

/*  Sectioning Elements  */

main {
    position: relative;
}
section {
    display: block;
    -webkit-margin-before: 2.8rem;
    -webkit-margin-after: 1.4rem;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: 2.8rem;
    margin-block-end: 1.4rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
section:first-child {
    -webkit-margin-before: 0;
    margin-block-start: 0;
}
section:last-child {
    -webkit-margin-after: 0;
    margin-block-end: 0;
}
aside {
    display: block;
    -webkit-margin-before: 1.4rem;
    -webkit-margin-after: 1.4rem;
    -webkit-margin-start: 1rem;
    -webkit-margin-end: 1rem;
    -webkit-border-start: .25rem currentColor double;
    -webkit-padding-start: .75rem;
    margin-block-start: 1.4rem;
    margin-block-end: 1.4rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    border-inline-start: .25rem currentColor double;
    padding-inline-start: .75rem;
    font-size: calc(1rem / 1.4);
    line-height: 1rem;
    font-weight: 200;
}
nav {
    display: block;
    -webkit-margin-before: 2.8rem;
    -webkit-margin-after: 1.4rem;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: 2.8rem;
    margin-block-end: 1.4rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: 200;
}
footer {
    margin: 0;
    padding: 0;
    font-size: calc(1rem / 1.4);
    line-height: 1rem;
}
blockquote > footer {
    -webkit-margin-before: .7em;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: .7em;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    text-align: end;
}
blockquote > footer::before{
    content: "– ";
}

/*  Tables  */

table {
    -webkit-margin-before: .7em;
    -webkit-margin-after: .7em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    margin-block-start: .7em;
    margin-block-end: .7em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding: 0;
    font-size: calc(1rem / 1.4);
    -webkit-logical-width: 100%;
    inline-size: 100%;
    border-collapse: collapse;
    overflow: auto;
    text-align: start;
}

thead {
    border-bottom: medium currentColor double;
    text-align: center;
}

tbody + tbody {
    border-top: medium currentColor double;
}

tfoot {
    border-top: medium currentColor double;
    font-weight: 200;
}

th {
    font-weight: 600;
}

th, td {
    margin: 0;
    border: thin currentColor solid;
    padding: .35em .5em;
}

/*  Figures and Embeds  */

figure {
    display: block;
    -webkit-margin-before: 1.4rem;
    -webkit-margin-after: 1.4rem;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    margin-block-start: 1.4rem;
    margin-block-end: 1.4rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    -webkit-logical-width: -webkit-fit-content;
    inline-size: -moz-fit-content;
    inline-size: fit-content;
    -webkit-max-logical-width: 100%;
    max-inline-size: 100%;
}
figure::after {
    display: block;
    clear: both;
    content: "";
}
audio, iframe, img, svg, video, div.fb-post {
    display: block;
    -webkit-margin-before: .7em;
    -webkit-margin-after: .7em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    margin-block-start: .7em;
    margin-block-end: .7em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    -webkit-max-logical-width: 100%;
    max-inline-size: 100%;
}
audio + audio, img + img {
    -webkit-margin-before: -.7em;
    margin-block-start: -.7em;
}
div.fb-post iframe {
    margin: 0;
}
img.text, svg.text {
    display: inline-block;
    margin: 0;
    padding: calc(.2em / 1.4);
    max-height: calc(1em / 1.4);
    max-width: calc(1em / 1.4);
    line-height: 1em;
    vertical-align: middle;
}
iframe[src*="//youtube.com/embed/"], iframe[src*="//www.youtube.com/embed/"] {
    width: 560px;
    height: 315px;
}

/*  Headings  */

h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 1.4rem;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: 0;
    margin-block-end: 1.4rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    font-size: 2.8rem;
    line-height: 2.8rem;
    text-align: start;
}
h2 {
    -webkit-margin-before: 2.8rem;
    -webkit-margin-after: 1.4rem;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: 2.8rem;
    margin-block-end: 1.4rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 400;
    text-align: start;
}
h2:first-child {
    -webkit-margin-before: 0;
    margin-block-start: 0;
}
h3 {
    -webkit-margin-before: 1.4rem;
    -webkit-margin-after: 1.4rem;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: 1.4rem;
    margin-block-end: 1.4rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 700;
    font-variant: small-caps;
    text-align: center;
}
h4 {
    -webkit-margin-before: 1.4rem;
    -webkit-margin-after: .7rem;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: 1.4rem;
    margin-block-end: .7rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 600;
    text-align: center;
}
h5 {
    -webkit-margin-before: .7rem;
    -webkit-margin-after: .7rem;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: .7rem;
    margin-block-end: .7rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.4rem;
    font-variant: small-caps;
    text-align: start;
}
h6 {
    -webkit-margin-before: .7rem;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: .7rem;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: start;
}

/*  Lists  */

ol, ul, dl {
    margin: 0;
    -webkit-padding-before: 0;
    -webkit-padding-after: 0;
    -webkit-padding-start: 2rem;
    -webkit-padding-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 2rem;
    padding-inline-end: 0;
}
ol {
    list-style-type: decimal-leading-zero;
}
ol ol {
    list-style-type: upper-alpha;
}
ol ol ol {
    list-style-type: lower-alpha;
}
ol ol ol ol {
    list-style-type: decimal;
}
ul {
    list-style-type: "→ ";
}
ul ul {
    list-style-type: "† ";
}
ul ul ul {
    list-style-type: "⇒ ";
}
ul ul ul ul {
    list-style-type: "‡ ";
}
dt {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
dt + dt::before {
    content: ", "
}
dd {
    position: relative;
    margin: 0;
    padding: 0;
}
dd::before {
    white-space: pre-wrap;
    content: " : ";
}
dd + dd::before {
    position: absolute;
    offset-block-start: 0;
    offset-inline-end: 100%;
    content: "″ : ";
}
dd:after {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    content: "";
}
ol.inline, ul.inline, dl.inline {
    margin: 0;
    padding: 0;
    counter-reset: inline-list;
}
ol.inline > li, ul.inline > li, dl.inline > dt, dl.inline > dd {
    display: inline;
    position: static;
    float: none;
}
ol.inline > li::before {
    counter-increment: inline-list;
    content: counter(inline-list, decimal-leading-zero) ". ";
}
ul.inline > li::before {
    content: "→ ";
}
ol.inline > li:not(:last-child)::after, ul.inline > li:not(:last-child)::after {
    content: " ";
}
dl.inline > dd::before {
    position: static;
}
ol.bibliography, ul.bibliography {
    -webkit-padding-before: 2rem;
    padding-inline-start: 2rem;
}
ul.bibliography {
    list-style-type: none;
}
ol.bibliography li, ul.bibliography li {
    -webkit-margin-before: .7em;
    -webkit-margin-after: .7em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: .7em;
    margin-block-end: .7em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-indent: -2rem;
}
ol.bibliography p, ul.bibliography p {
    -webkit-margin-before: .7rem;
    -webkit-margin-after: .7rem;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin-block-start: .7rem;
    margin-block-end: .7rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-indent: 0;
}

/*  Block Elements  */

blockquote {
    -webkit-margin-before: 1.4rem;
    -webkit-margin-after: 1.4rem;
    -webkit-margin-start: 1rem;
    -webkit-margin-end: 1rem;
    -webkit-padding-start: 1rem;
    -webkit-padding-end: 1rem;
    margin-block-start: 1.4rem;
    margin-block-end: 1.4rem;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    font-size: calc(1rem / 1.4);
    line-height: 1rem;
}
blockquote blockquote, figure blockquote {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
blockquote blockquote::before {
    content: no-open-quote;
}
blockquote blockquote::after {
    content: no-close-quote;
}
figcaption {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: calc(1rem / 1.4);
    line-height: 1rem;
}
figcaption::before, figcaption::after {
    display: block;
    clear: both;
    content: "";
}
hr {
    margin: 0;
    -webkit-padding-before: 0;
    -webkit-padding-after: 1.4em;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    padding-block-start: 0;
    padding-block-end: 1.4em;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: 0;
    -webkit-logical-height: 0;
    block-size: 0;
    -webkit-logical-width: 100%;
    inline-size: 100%;
    background: transparent;
}
p {
    margin: 0;
    padding: 0;
}
p + p {
    text-indent: 2em;
}
blockquote > p:not(:empty)::before {
    display: inline-block;
    -webkit-margin-start: -1rem;
    -webkit-margin-end: 0;
    margin-inline-start: -1rem;
    margin-inline-end: 0;
    padding: 0;
    -webkit-logical-width: 1rem;
    inline-size: 1rem;
    text-align: end;
    text-indent: 0;
    content: open-quote;
}
blockquote > p:not(:empty)::after {
    content: no-close-quote;
}
blockquote > p:not(:empty):last-of-type::after {
    content: close-quote;
}
p.verse {
    white-space: pre-line;
    text-indent: 0;
    text-indent: 2rem hanging each-line;
}
p + p.verse {
    -webkit-margin-before: .7em;
    margin-block-start: .7em;
}
pre {
    -webkit-margin-before: .7rem;
    -webkit-margin-after: .7rem;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 1rem;
    -webkit-padding-end: 1rem;
    margin-block-start: .7rem;
    margin-block-end: .7rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    -webkit-max-logical-width: calc(100% - 2rem);
    max-inline-size: calc(100% - 2rem);
    text-align: left;
    font-size: 1rem;
    line-height: 1rem;
}

/*  Phrasing Content  */

a {
    color: #0c0c0c;
    outline-style: outset;
    outline-width: 1px;
    outline-color: rgba(28,28,28,0);
    background: rgba(245,245,245,0);
    font-weight: bolder;
    transition: outline-color .5s, background .5s;
}
a:hover {
    outline-color: rgba(28,28,28,.6);
    background: rgba(245,245,245,1);
}
a:active {
    outline-style: inset;
    outline-color: rgba(28,28,28,.6);
    background: rgba(245,245,245,1);
}
body > header a, body > header ~ aside a {
    color: inherit;
    outline: none;
    background: none;
    font-weight: inherit;
    transition: none;
}
b {
    font-weight: 600;
}
code {
    font-weight: 200;
}
del {
    text-decoration: line-through;
    text-decoration-style: double;
}
dfn {
    font-variant: small-caps;
    font-weight: bolder;
}
em {
    text-decoration: underline;
    text-decoration-style: single;
}
i {
    font-variant: small-caps;
}
ins {
    text-decoration: underline;
    text-decoration-style: double;
}
s {
    text-decoration: line-through;
    text-decoration-style: single;
}
small {
    font-weight: lighter;
}
strong {
    font-weight: 700;
}
sub {
    font-size: calc(1em / 1.4);
    vertical-align: baseline;
    line-height: .7em;
}
sup {
    font-size: calc(1em / 1.4);
    vertical-align: super;
    line-height: .7em;
    text-transform: uppercase;
}
u {
    text-decoration: underline;
    text-decoration-style: solid;
}
u.title {
    text-decoration-style: wavy;
}
